{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-9" style="border-right:1px solid black;">
		    <h1>Signup</h1>
		    <form class="site-form" action="/accounts/signup/" method="post">
		    	{% csrf_token %}
		    	{{form|crispy}}
		    	<div class="d-flex justify-content-center"><button type="submit" class="btn btn-success">Sign Up</button></div>
		    </form>
		    <hr>
		 </div>
		 <div class="col-3">
          <div class="d-flex flex-column">
            
            <p class="font-italic font-weight-bold">Follow me on social media:</p>
            <div class="d-flex justify-content-around">
              <a href="https://www.facebook.com/shishir.mishra.39395" ><i class="fa fa-facebook-square fa-2x" aria-hidden="true" style="color:blue;"></i></a>
              <a href="https://www.instagram.com/mishrashishir3/" ><i style="font-size:30px; margin-right: 20px; color:red;" class="fa">&#xf16d;</i></a>
            </div>
          </div>          
        </div>  
    </div>
</div>


{% endblock %}