{% extends 'base_layout.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-9" style="border-right:1px solid black;">
			<div class="description"></div>
			<h1>About The Website:</h1>
			<p>This Website is our first Web Development Project.</p>
			<p>It is developed using Django Framework for Backend</p><br><hr><br>
			<h2>It has the following functionalities:</h2><br>
			<ul style="line-height: 1.4;"> 
				<li>Creating new Blogs along with Pictures</li>
				<li>Diverse category field</li>
				<li>Editing your Blog</li>
				<li>Deleteing Your Blog</li>
				<li>Compltetely Secure authentication system for Users</li>
				<li>Search Function</li>
				<li>Social media authentication facility</li>
			 </ul><br><hr><br>
			 <h1>About The Developers:</h1><hr><br>
			 
			 	
			 		<div class="row justify-content-around">

			 		<div class="col-6" >
			 		<img src="{% static 'shishir.png' %}" alt="name" class="img-thumbnail" style="max-height: 300px; max-width: 300px ;margin-bottom:20px;" />
			 		<div>
				 	<h2>Shishir Mishra</h2>
			 		<p>e-mail : shishir@iitg.ac.in</p>
			 		<p>EEE Dept, IIT Guwahati </p></div></div>
			 		<div class="col-6">
			 		<img src="{% static 'abhishek.png' %}" alt="name" class="img-thumbnail " style="max-height: 300px; max-width: 300px;margin-bottom:20px;"  />
			 		<div>
		 			<h2>Abhishek Kumar</h2>
			 		
			 		<p>e-mail : kumar18g@iitg.ac.in</p>
			 		<p>CSE Dept, IIT Guwahati </p> 	</div>
			 		</div>
			 		
			 	
			 	</div>
			 
			 <hr>

			</div>
			 <div class="col-3">
	         
	           
            	<p class="font-italic font-weight-bold" >Categories:</p>
		            <ul class="list-group list-group-flush" style="margin-bottom: 20px;">
		              {% for item in categories %} 		              		                
		              	<li class="list-group-item"><a href="{% url 'articles:category' item.id %}" class="text-decoration-none">{{item}}</a></li>
		              {% endfor %}
		              
		            </ul>
	            <p class="font-italic font-weight-bold">Follow me on social media:</p>
	            <div class="d-flex justify-content-around">
	              <a href="https://www.facebook.com/shishir.mishra.39395" ><i class="fa fa-facebook-square fa-2x" aria-hidden="true" style="color:blue;"></i></a>
	              <a href="https://www.instagram.com/mishrashishir3/" ><i style="font-size:30px; margin-right: 20px; color:red;" class="fa">&#xf16d;</i></a>
	            </div>
	          </div>          
	           

	</div>
</div>







{% endblock %}