{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}

{% block content%}
  
  <div class="container-fluid">
      <div class="row">
        
        <div class="col-10" style="border-right:1px solid black;">

          <p class="h5" style="margin-bottom: 10px;">Filter Your Results :</p>
          <hr>

          <div class="row" style="margin-bottom:20px; margin-left: 10px; ">
            <form method="GET">
              {{filter.form}}
            <button type="submit" class="btn btn-primary btn-sm" style="margin-left: 10px;"><span class="fa fa-search"></span> Search</button>           
          </form>
            </div>
            <hr>

            {% if filter.qs %}



           
          <p class="h2">Relevant Posts : </p>
                  

                  {% for article in filter.qs %}

                  {% if forloop.counter0|divisibleby:3 %} <div class="row "><div class="d-flex justify-content-start"> {%  endif %}
                  
       
                  <div class="col-4 "> 

                  <div class="card" style="margin-bottom: 20px;" >
                    <img class="card-img-top" src="{{article.thumb.url}}" alt="Card image cap" style="max-height:500px; padding: 10px 10px; object-fit: cover;">
                    <div class="card-body">
                      <div style="line-height: 0.8;">
                      <h5 class="card-title">{{article.title}}</h5>
                      <p class="text-muted"> <small>{{article.date}} </small> </p>
                      <p class="text-muted"> <small>By : {{article.author.username}}</small> </p>
                    </div>
                      <p class="card-text">{{article.snippet}}</p>
                      <a href="{% url 'articles:detail' article.pk %}" class="btn btn-primary">Read more</a>
                     </div>
                     <ul class="list-group list-group-flush">
                      <li class="list-group-item">Category : {{article.category}}</li>          
                      
                     </ul>
                     
                  </div>  
                  </div>
                            
                
                   {%  if forloop.counter|divisibleby:3 or forloop.last %}</div></div><hr>{%  endif %}
                {% endfor %}
               



                 {% else %}
                  <p class="h3">Sorry, No Articles Found!</p>

                {% endif %}

                
          </div>


        <div class="col-2" style="height: 100vh;">
          
            
             <p class="font-italic font-weight-bold">Categories:</p>
            <ul class="list-group list-group-flush" style="margin-bottom: 20px;">
              {% for item in categories %}              
                <a href="{% url 'articles:category' item.id %}" class="text-decoration-none">
              <li class="list-group-item">{{item}}</li></a>
              {% endfor %}
              
            </ul>
            <p class="font-italic font-weight-bold" style="margin-top: 10px;">Follow me on social media:</p>
            <div class="d-flex justify-content-around">
              <a href="https://www.facebook.com/shishir.mishra.39395" ><i class="fa fa-facebook-square fa-2x" aria-hidden="true" style="color:blue;"></i></a>
              <a href="https://www.instagram.com/mishrashishir3/" ><i style="font-size:30px; margin-right: 20px; color:red;" class="fa">&#xf16d;</i></a>
            </div>
          </div>          
        </div>         
        
      </div>
    </div>
    {% endblock %}