{% extends 'base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

 

<div class="container">
    <div class="row">
        <div class="col-9" style="border-right:1px solid black;">
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <div class="alert alert-success" role="alert">
                {{message}}
                </div>
                {% endfor %}
            </ul>
            {% endif %}


            <div class="d-flex justify-content-center"><img src="{{article.thumb.url}}" class="img-fluid" alt="Responsive image"></div>
            <div class="row"> 
                <div class="col-8" >          
                <div style="margin-top: 20px; margin-left: 10px; margin-bottom:0px; margin-right: 5px;">
                <h2>{{ article.title }}</h2>
                <p class="font-weight-light">By: {{article.author}} </p>
                <p class="text-muted"> <i style="font-size:24px" class="fa">&#xf087;</i> : {{article.likes.count}} </p>
                </div>
                </div>
                <div class="col-4">
                  <div class="d-flex justify-content-around " style="margin-top: 20px; margin-bottom: 20px;">
                  

                  
                  {% if request.user == article.author %}
                  
                  
                      <a href=" {% url 'articles:edit' article.pk %} "><i style="font-size:24px" class="fa">&#xf044;</i></a> 
                      <a href=" {% url 'articles:delete' article.pk %} "><i style="font-size:24px" class="fa">&#xf014;</i></a>
                  
            
                  {% endif %}
                  </div>                  
                </div>
              </div>
                
                  
                <hr>
                <p class="font-weight-normal">{{ article.body }}</p>
                <hr>
                <p class="font-weight-normal">Published: {{ article.date }} </p> 
                <hr>
                <p>Leave a Like : <a  class='like-btn' data-href='{{article.get_like_api_url}}' data-likes='{{article.likes.count}}' href="{{article.get_like_url}}"> {% if request.user in article.likes.all %}
                  <i class="fa fa-thumbs-up" style="font-size:36px;margin-left: 20px;"></i>
                  {% else %}
                  <i style="font-size:24px; margin-left: 20px;" class="fa">&#xf087;</i>                  
                   {% endif %}</a></p>

                
            
            <hr>
            

              {% if tags %}

              <p class="h4">Related posts you may like :</p>
              <ul>

              {%for post in tags %}
              <li><a href="{{post.get_absolute_url}}">{{post}}</a></li>
              {% endfor %}
              </ul>
              <hr>
              {% endif %}

      
            <form class="site-form" action="{% url 'articles:detail' article.pk %}" method="post" enctype="multipart/form-data" style="margin-bottom: 30px;">
              <div class="row align-items-end">
              <div class="col-9">
                {% csrf_token %}
                {{ form|crispy }}</div>
                <div class="col-3"  ><button type="submit" class="btn btn-success btn-sm" style="margin-bottom: 20px;">Comment</button></div></div><hr>
            </form>

            {%  if comments %}
            
            
            <div class="d-flex justify-content-around">
              <p class="font-weight-bold">Most Recent Comments</p><p class="font-weight-bold">|</p><p class="font-weight-light">{{comments.count}} comments</p>
            </div>
            {% for comment in comments %}
              <div class="alert alert-primary" role="alert">
                {{comment.content}}
              </div>
              <p class="font-weight-light">By : {{comment.name}} | {{comment.date}} | {% if request.user == comment.name %}<a href=" {% url 'articles:delete_comment' pk=comment.pk %} "><i style="font-size:18px;px; color: black;" class="fa">&#xf014;</i></a>{% endif %}</p>
            {% endfor %}
            {% else %}
            <p class="font-weight-bold">No comments yet!</p>
            {% endif %}
            <hr>
          </div>
              
     
         

         <div class="col-3">

          <p class="text-left">Search Something:</p>
              <form method="GET" action= "{% url 'articles:search' %}" >
                <div class="input-group mb-3">
                  <input type="" name="q" value="{{request.GET.q}}" class="form-control" placeholder="Type Something.." aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span> Search</button>
                  </div>
                </div>
             </form>
          
            
             <p class="font-italic font-weight-bold">Categories:</p>
              <ul class="list-group list-group-flush" style="margin-bottom: 20px;">
                {% for item in categories %}              
                  <a href="{% url 'articles:category' item.id %}" class="text-decoration-none">
                <li class="list-group-item">{{item}}</li></a>
                {% endfor %}                
              </ul>

              
              

            <p class="font-italic font-weight-bold">Follow me on social media:</p>
            <div class="d-flex justify-content-around">
              <a href="https://www.facebook.com/shishir.mishra.39395" ><i class="fa fa-facebook-square fa-2x" aria-hidden="true" style="color:blue;"></i></a>
              <a href="https://www.instagram.com/mishrashishir3/" ><i style="font-size:30px; margin-right: 20px; color:red;" class="fa">&#xf16d;</i></a>
            </div>
          </div>          
           



     </div>
</div>
{% endblock %}